<meta charset="utf-8">
<style>
.main {
	height: 100%;
	width: 100%;
}

.d-none {
	display: none;
}

.board {
	height: 100%;
	margin: auto;
}

.table {
	border-collapse: collapse;
	text-align: center;
}

.thead td {
	background: #A2B2B2;
}

.tbody {
	border-bottom: 2px solid black;
}
</style>


<div class="cta-inner bg-faded text-center rounded">
	<h2 class="section-heading mb-3">
		<span class="section-heading-upper"
			th:text="${session.logincust.name} + ' 님 Orders'"></span>
	</h2>
	<section class="main">
		<h1 class="d-none">게시판</h1>
		<div class="board">
			<table class="table">
				<thead class="thead">
					<tr>
						<td>No.</td>	
						<td>Order Date</td>
						<td>Total Price</td>
						<td>Address</td>
						<td>Receiver</td>
						<td>Status</td>
						<td>Transaction</td>
					</tr>
				</thead>
				<tbody class="tbody">
					<tr>
						<td>1</td>
						<td>2020-02-02</td>
						<td>30000</td>
						<td>서울</td>
						<td>최두식</td>
						<td>Delivered</td>
						<td>Card</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</div>
