<meta charset="utf-8">
<html>
<head>

<style>
#chartContainer {
	background-color: black;
}
</style>

<script>
	window.onload = function() {
		var chart = new CanvasJS.Chart("chartContainer", {
			exportEnabled : true,
			animationEnabled : true,
			title : {
				text : "Best Selling Coffee"
			},
			legend : {
				cursor : "pointer",
				itemclick : explodePie
			},
			data : [ {
				type : "pie",
				showInLegend : true,
				toolTipContent : "{name}: <strong>{y}%</strong>",
				indexLabel : "{name} - {y}%",
				dataPoints : [ {
					y : 26,
					name : "School Aid",
					exploded : true
				}, {
					y : 20,
					name : "Medical Aid"
				}, {
					y : 5,
					name : "Debt/Capital"
				}, {
					y : 3,
					name : "Elected Officials"
				}, {
					y : 7,
					name : "University"
				}, {
					y : 17,
					name : "Executive"
				}, {
					y : 22,
					name : "Other Local Assistance"
				} ]
			} ]
		});
		chart.render();
	}

	function explodePie(e) {
		if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined"
				|| !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
			e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
		} else {
			e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
		}
		e.chart.render();

	}
</script>
</head>
<body>
	<section class="page-section about-heading">
		<div class="container">
			<img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
				src="assets/img/about.jpg" alt="..." />
			<div class="about-heading-content">
				<div class="row">
					<div class="col-xl-9 col-lg-10 mx-auto">
						<div class="bg-faded rounded p-5">
							<h2 class="section-heading mb-4">
								<div class="mb-3" id="chartContainer" style="height: 300px; width: 100%;"></div>
								<span class="section-heading-upper">Strong Coffee, Strong
									Roots</span> <span class="section-heading-lower">About Our Cafe</span>
							</h2>
							<p>Founded in 1987 by the Hernandez brothers, our
								establishment has been serving up rich coffee sourced from
								artisan farmers in various regions of South and Central America.
								We are dedicated to travelling the world, finding the best
								coffee, and bringing back to you here in our cafe.</p>
							<p class="mb-0">
								We guarantee that you will fall in <em>lust</em> with our
								decadent blends the moment you walk inside until you finish your
								last sip. Join us for your daily routine, an outing with
								friends, or simply just to enjoy some alone time.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>