<meta charset="utf-8">

<style>
#cate_name_products {
	margin-bottom: 30px;
}

.side-navbar {
	width: 180px;
	height: 40%;
	position: sticky;
	margin-left: -300px;
	background-color: #100901;
	transition: 0.5s;
}

.side-navbar>ul>li {
	color: rgba(230, 167, 86, 0.9);
}

.nav-link:active, .nav-link:focus, .nav-link:hover {
	background-color: #ffffff26;
	color: #100901;
}

.my-container {
	transition: 0.4s;
}

.active-nav {
	margin-left: 0;
}
/* for main section */
.active-cont {
	margin-left: 180px;
}

#menu-btn {
	background-color: #100901;
	color: #fff;
	margin-left: -62px;
}

@media screen and (max-width:1200px) {
	.side-nav-section {
		display: none;
	}
}
</style>

<section class="page-section cta">
	<div class="container">
		<div class="row">
			<div class="col-md-2 side-nav-section">
				<div
					class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column"
					id="sidebar">
					<ul class="nav flex-column w-100">
						<h1 class="h3 text-light m-3">Sort By:</h1>
						<li href="#" class="nav-link"><span class="mx-2">Profile</span>
						</li>
						<li href="#" class="nav-link"><span class="mx-2">Address</span>
						</li>
						<li href="#" class="nav-link"><span class="mx-2">Orders</span>
						</li>
						<li href="#" class="nav-link"><span class="mx-2">Activities</span>
						</li>
						<li href="#" class="nav-link"><span class="mx-2">Setting</span></li>
					</ul>
				</div>
			</div>
			<div class="col-md-10 mx-auto">
				<div class="cta-inner bg-faded text-center rounded">
					<h2 class="section-heading mb-5">
						<span class="section-heading-upper">Come On In</span> <span
							class="section-heading-lower">My page</span>
					</h2>
					<ul class="list-unstyled list-hours mb-5 text-left mx-auto">
						<li class="list-unstyled-item list-hours-item d-flex"><a
							href="logout"> Logout</a> <span class="ms-auto">Closed</span></li>
						<li class="list-unstyled-item list-hours-item d-flex">Monday
							<span class="ms-auto">7:00 AM to 8:00 PM</span>
						</li>
						<li class="list-unstyled-item list-hours-item d-flex">
							Tuesday <span class="ms-auto">7:00 AM to 8:00 PM</span>
						</li>
						<li class="list-unstyled-item list-hours-item d-flex">
							Wednesday <span class="ms-auto">7:00 AM to 8:00 PM</span>
						</li>
						<li class="list-unstyled-item list-hours-item d-flex">
							Thursday <span class="ms-auto">7:00 AM to 8:00 PM</span>
						</li>
						<li class="list-unstyled-item list-hours-item d-flex">Friday
							<span class="ms-auto">7:00 AM to 8:00 PM</span>
						</li>
						<li class="list-unstyled-item list-hours-item d-flex">
							Saturday <span class="ms-auto">9:00 AM to 5:00 PM</span>
						</li>
					</ul>
					<p class="address mb-5">
						<em> <strong>1116 Orchard Street</strong> <br /> Golden
							Valley, Minnesota
						</em>
					</p>
					<p class="mb-0">
						<small><em>Call Anytime</em></small> <br /> (317) 585-8468
					</p>
				</div>
			</div>
		</div>
	</div>
</section>