<meta charset="utf-8">
<style>
.card-box {
	border: 1px solid #ddd;
	padding: 20px;
	box-shadow: 0px 0px 10px 0px #c5c5c5;
	margin-bottom: 30px;
	float: left;
	border-radius: 10px;
}

.card-box .card-thumbnail {
	overflow: hidden;
	border-radius: 10px;
	transition: 1s;
}

.card-box .card-thumbnail:hover {
	transform: scale(1.2);
}

.card-box h3 a {
	font-size: 20px;
	text-decoration: none;
}

.card {
	background-color: #f3d3ab;
}

.side-nav-cate {
	text-decoration: none;
}

.product-img {
	width: 12em;
}

.product-price {
	margin-right: 1em;
}

#cate_name_products {
	margin-bottom: 30px;
}

.side-navbar {
	width: 12em;
	height: 100%;
	position: sticky;
	margin-left: -300px;
	background-color: #100901;
	transition: 0.5s;
}

.side-navbar>ul>li {
	color: rgba(230, 167, 86, 0.9);
}

.nav-link:active, .nav-link:focus, .nav-link:hover {
	background-color: #ffffff26;
	color: #100901;
}

.my-container {
	transition: 0.4s;
}

.active-nav {
	margin-left: 0;
}
/* for main section */
.active-cont {
	margin-left: 180px;
}

#menu-btn {
	background-color: #100901;
	color: #fff;
	margin-left: -62px;
}

@media screen and (max-width:1200px) {
	.side-nav-section {
		display: block;
	}
}

.wrapper {
	margin-top: 30px;
}

.card {
	border: 1px solid #eee;
	cursor: pointer;
}

.weight {
	margin-top: -65px;
	transition: all 0.5s;
}

.weight small {
	color: black;
}

.buttons {
	padding: 1em;
	border-radius: 4px;
	position: relative;
	margin-top: 7px;
	opacity: 0;
	transition: all 0.8s;
}

.dot {
	height: 14px;
	width: 14px;
	background-color: green;
	border-radius: 50%;
	position: absolute;
	left: 27%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 8px;
	color: #fff;
	opacity: 0;
}

.cart-button {
	height: 48px
}

.cart-button:focus {
	box-shadow: none
}

.cart {
	position: relative;
	height: 48px !important;
	width: 50px;
	margin-right: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding: 11px;
	border-radius: 5px;
	font-size: 14px;
	transition: 1s ease-in-out;
	overflow: hidden;
}

.cart-button.clicked span.dot {
	animation: item 0.3s ease-in forwards
}

.card:hover .buttons {
	opacity: 1;
}

.card:hover .weight {
	margin-top: 10px;
}

.card:hover {
	transform: scale(1.04);
	z-index: 2;
	overflow: hidden;
}
</style>

<script>
	var menu_btn = document.querySelector("#menu-btn");
	var sidebar = document.querySelector("#sidebar");
	var container = document.querySelector(".my-container");
	menu_btn.addEventListener("click", () => {
	  sidebar.classList.toggle("active-nav");
	  container.classList.toggle("active-cont");
	});
	

</script>

<section class="page-section cta">
	<div class="container">
		<div class="row">
			<div class="col-md-2 side-nav-section">
				<div
					class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column"
					id="sidebar">
					<ul class="nav flex-column text-dark w-100">
						<h1 class="h3 text-light m-3">Sort By:</h1>
						<li th:each="c : ${catelist}" class="nav-link"><a
							class="mx-2 side-nav-cate"
							th:href="@{/getproduct(id=${c.cid},name=${c.cname})}"
							th:text="${c.cname}"></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-10">
				<div class="cta-inner bg-faded text-center rounded pt-5 pb-5">
					<h2 id="cate_name_products text-center" th:text="${menu}">Espresso</h2>
					<div class="wrapper">
						<div class="container">
							<div class="row g-1">
								<div class="col-md-3" th:each="p:${plist}">
									<div class="card p-3">
										<div class="text-center">
											<img class="product-img"
												th:src="'assets/img/products/'+${p.pimgname}">
										</div>
										<div class="product-details">
											<span th:text="'₩' + ${p.pprice}"
												class="font-weight-bold d-block">$ 7.00</span> <span
												th:text=${p.pname}>Red Redish</span>
											<div class="buttons flex-row">
												<button type="button" class="btn btn-primary"
													th:data-bs-target="'#pmodal_'+${p.pid}"
													data-bs-toggle="modal">Add to Bag</button>
											</div>
											<div class="weight">
												<small>454g</small>
											</div>
										</div>
									</div>

									<!-- The Modal -->
									<div class="modal" th:id="'pmodal_'+${p.pid}" role="dialog">
										<div class="modal-dialog modal-lg">
											<div class="modal-content">

												<!-- Modal Header -->
												<div class="modal-header">
													<h4 class="modal-title">Product Info</h4>
													<button type="button" class="btn-close"
														data-bs-dismiss="modal"></button>
												</div>

												<!-- Modal body -->
												<div class="container">
													<div class="row">
														<img class="col-6" width="200"
															th:src="@{'/assets/img/products/'+${p.pimgname}}">

														<div class="col-6"
															style="vertical-align: bottom; text-align: left">
															<h4 th:text="${p.pname}">Modal</h4>
															<span th:text="${p.pcontents}" class="d-block m-2"
																style="font-size: 0.9rem">Ei! wie schmeckt der
																Coffee süße, Lieblicher als tausend Küsse, Milder als
																Muskatenwein. Coffee, Coffee muss ich haben</span>
															<p th:text="'₩' + ${p.pprice}"></p>
														</div>
													</div>
												</div>

												<!-- Modal footer -->
												<div class="modal-footer">
													<button type="button" class="btn btn-dark"
														th:onclick="addcart([[${p.pid}]])">Add
														to Bag</button>

													<button type="button" class="btn btn-danger"
														data-bs-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



