<meta charset="utf-8">
<style>
#cate_name_products {
	margin-bottom: 30px;
}

.side-navbar {
	width: 180px;
	height: 100%;
	/* position: fixed; */
	margin-left: -300px;
	background-color: #100901;
	transition: 0.5s;
}

.side-navbar>ul>li {
	color: rgba(230, 167, 86, 0.9);
}

.nav-link:active, .nav-link:focus, .nav-link:hover {
	background-color: #ffffff26;
	color: #100901;
}

.my-container {
	transition: 0.4s;
}

.active-nav {
	margin-left: 0;
}
/* for main section */
.active-cont {
	margin-left: 180px;
}

#menu-btn {
	background-color: #100901;
	color: #fff;
	margin-left: -62px;
}

@media screen and (max-width:1200px) {
	.side-nav-section {
		display: none;
	}
}
</style>

<script>
	var menu_btn = document.querySelector("#menu-btn");
	var sidebar = document.querySelector("#sidebar");
	var container = document.querySelector(".my-container");
	menu_btn.addEventListener("click", () => {
	  sidebar.classList.toggle("active-nav");
	  container.classList.toggle("active-cont");
	});
	
</script>

<section class="page-section cta">
	<div class="container">
		<div class="row">
			<div class="col-md-2 side-nav-section">
				<div
					class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column"
					id="sidebar">
					<ul class="nav flex-column text-dark w-100">
						<h1 class="h3 text-light m-3">Sort By:</h1>
						<li href="#" class="nav-link"><span class="mx-2">Espresso</span>
						</li>
						<li href="#" class="nav-link"><span class="mx-2">Decaffein</span>
						</li>
						<li href="#" class="nav-link"><span class="mx-2">Ethical</span>
						</li>
						<li href="#" class="nav-link"><span class="mx-2">Organic</span>
						</li>
						<li href="#" class="nav-link"><span class="mx-2">Single
								Origin</span></li>
					</ul>
				</div>
			</div>

			<div class="col-md-10">
				<div class="cta-inner bg-faded text-center rounded pt-5 pb-5">
					<h2 id="cate_name_products">Espresso</h2>
					<div class="container">
						<div class="row">
							<div class="card col-lg-3 col-sm-6">
								<img class="card-img-top"
									src="assets/img/espresso/FairTrade.jpeg" alt="Card image">
								<div class="card-body">
									<h5 class="card-title">Fair Trade Espresso</h5>
									<a href="#" class="btn btn-primary"><i
										class="fas fa-shopping-bag"></i></a> <a href="#"
										class="btn btn-primary"><i class="fas fa-check-circle"></i></a>
									<a href="#" class="btn btn-primary" type="button"
										data-bs-toggle="modal" data-bs-target="#myModal"><i
										class="fas fa-info-circle"></i> </a>
								</div>
							</div>

							<div class="modal" id="myModal">
								<div class="modal-dialog">
									<div class="modal-content">

										<!-- Modal Header -->
										<div class="modal-header">
											<h4 class="modal-title">Modal Heading</h4>
											<button type="button" class="btn-close"
												data-bs-dismiss="modal"></button>
										</div>

										<!-- Modal body -->
										<div class="modal-body">Modal body..</div>

										<!-- Modal footer -->
										<div class="modal-footer">
											<button type="button" class="btn btn-danger"
												data-bs-dismiss="modal">Close</button>
										</div>

									</div>
								</div>
							</div>

							<div class="card col-lg-3 col-sm-6">
								<img class="card-img-top"
									src="assets/img/espresso/FairTrade.jpeg" alt="Card image">
								<div class="card-body">
									<h5 class="card-title">Fair Trade Espresso</h5>
									<a href="#" class="btn btn-primary"><i
										class="fas fa-shopping-bag"></i></a> <a href="#"
										class="btn btn-primary"><i class="fas fa-check-circle"></i></a>
									<a href="#" class="btn btn-primary" type="button"
										data-bs-toggle="modal" data-bs-target="#myModal"><i
										class="fas fa-info-circle"></i> </a>
								</div>
							</div>


							<div class="card col-lg-3 col-sm-6">
								<img class="card-img-top"
									src="assets/img/espresso/FairTrade.jpeg" alt="Card image">
								<div class="card-body">
									<h5 class="card-title">Fair Trade Espresso</h5>
									<a href="#" class="btn btn-primary"><i
										class="fas fa-shopping-bag"></i></a> <a href="#"
										class="btn btn-primary"><i class="fas fa-check-circle"></i></a>
									<a href="#" class="btn btn-primary" type="button"
										data-bs-toggle="modal" data-bs-target="#myModal"><i
										class="fas fa-info-circle"></i> </a>
								</div>
							</div>


							<div class="card col-lg-3 col-sm-6">
								<img class="card-img-top"
									src="assets/img/espresso/FairTrade.jpeg" alt="Card image">
								<div class="card-body">
									<h5 class="card-title">Fair Trade Espresso</h5>
									<a href="#" class="btn btn-primary"><i
										class="fas fa-shopping-bag"></i></a> <a href="#"
										class="btn btn-primary"><i class="fas fa-check-circle"></i></a>
									<a href="#" class="btn btn-primary" type="button"
										data-bs-toggle="modal" data-bs-target="#myModal"><i
										class="fas fa-info-circle"></i> </a>
								</div>
							</div>


							<div class="card col-lg-3 col-sm-6">
								<img class="card-img-top"
									src="assets/img/espresso/FairTrade.jpeg" alt="Card image">
								<div class="card-body">
									<h5 class="card-title">Fair Trade Espresso</h5>
									<a href="#" class="btn btn-primary"><i
										class="fas fa-shopping-bag"></i></a> <a href="#"
										class="btn btn-primary"><i class="fas fa-check-circle"></i></a>
									<a href="#" class="btn btn-primary" type="button"
										data-bs-toggle="modal" data-bs-target="#myModal"><i
										class="fas fa-info-circle"></i> </a>
								</div>
							</div>


							<div class="card col-lg-3 col-sm-6">
								<img class="card-img-top"
									src="assets/img/espresso/FairTrade.jpeg" alt="Card image">
								<div class="card-body">
									<h5 class="card-title">Fair Trade Espresso</h5>
									<a href="#" class="btn btn-primary"><i
										class="fas fa-shopping-bag"></i></a> <a href="#"
										class="btn btn-primary"><i class="fas fa-check-circle"></i></a>
									<a href="#" class="btn btn-primary" type="button"
										data-bs-toggle="modal" data-bs-target="#myModal"><i
										class="fas fa-info-circle"></i> </a>
								</div>
							</div>

							<div class="card col-lg-3 col-sm-6">
								<img class="card-img-top"
									src="assets/img/espresso/FairTrade.jpeg" alt="Card image">
								<div class="card-body">
									<h5 class="card-title">Fair Trade Espresso</h5>
									<a href="#" class="btn btn-primary"><i
										class="fas fa-shopping-bag"></i></a> <a href="#"
										class="btn btn-primary"><i class="fas fa-check-circle"></i></a>
									<a href="#" class="btn btn-primary" type="button"
										data-bs-toggle="modal" data-bs-target="#myModal"><i
										class="fas fa-info-circle"></i> </a>
								</div>
							</div>

							<div class="card col-lg-3 col-sm-6">
								<img class="card-img-top"
									src="assets/img/espresso/FairTrade.jpeg" alt="Card image">
								<div class="card-body">
									<h5 class="card-title">Fair Trade Espresso</h5>
									<a href="#" class="btn btn-primary"><i
										class="fas fa-shopping-bag"></i></a> <a href="#"
										class="btn btn-primary"><i class="fas fa-check-circle"></i></a>
									<a href="#" class="btn btn-primary" type="button"
										data-bs-toggle="modal" data-bs-target="#myModal"><i
										class="fas fa-info-circle"></i> </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	</div>
</section>

