<meta charset="utf-8">
<style>
.card-box {
	border: 1px solid #ddd;
	padding: 20px;
	box-shadow: 0px 0px 10px 0px #c5c5c5;
	margin-bottom: 30px;
	float: left;
	border-radius: 10px;
}

.card-box .card-thumbnail {
	max-height: 200px;
	overflow: hidden;
	border-radius: 10px;
	transition: 1s;
}

.card-box .card-thumbnail:hover {
	transform: scale(1.2);
}

.card-box h3 a {
	font-size: 20px;
	text-decoration: none;
}

.card {
	background-color: #f3d3ab;
}

.side-nav-cate {
	text-decoration: none;
}

.card-title {
	
}

.product-price {
	margin-right: 1em;
}

#cate_name_products {
	margin-bottom: 30px;
}

.side-navbar {
	width: 12em;
	height: 100%;
	/* position: fixed; */
	margin-left: -300px;
	background-color: #100901;
	transition: 0.5s;
}

.side-navbar>ul>li {
	color: rgba(230, 167, 86, 0.9);
}

.nav-link:active, .nav-link:focus, .nav-link:hover {
	background-color: #ffffff26;
	color: #100901;
}

.my-container {
	transition: 0.4s;
}

.active-nav {
	margin-left: 0;
}
/* for main section */
.active-cont {
	margin-left: 180px;
}

#menu-btn {
	background-color: #100901;
	color: #fff;
	margin-left: -62px;
}

@media screen and (max-width:1200px) {
	.side-nav-section {
		display: none;
	}
}
</style>

<script>
	var menu_btn = document.querySelector("#menu-btn");
	var sidebar = document.querySelector("#sidebar");
	var container = document.querySelector(".my-container");
	menu_btn.addEventListener("click", () => {
	  sidebar.classList.toggle("active-nav");
	  container.classList.toggle("active-cont");
	});
</script>

<section class="page-section cta">
	<div class="container">
		<div class="row">
			<div class="col-md-2 side-nav-section">
				<div
					class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column"
					id="sidebar">
					<ul class="nav flex-column text-dark w-100">
						<h1 class="h3 text-light m-3">Sort By:</h1>
						<li th:each="c : ${catelist}" class="nav-link"><a
							class="mx-2 side-nav-cate"
							th:href="@{/getproduct(id=${c.cid},name=${c.cname})}"
							th:text="${c.cname}"></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-10">
				<div class="cta-inner bg-faded text-center rounded pt-5 pb-5">
					<h2 id="cate_name_products text-center" th:text="${menu}">Espresso</h2>
					<div class="container">
						<div class="row">
							<div class="card col-lg-3 col-sm-6" th:each="p:${plist}">
								<img class="card-img-top mt-3"
									th:src="'assets/img/espresso/'+${p.pimgname}" alt="Card image">
								<div class="card-body">
									<h5 class="card-title pb-1" th:text="${p.pname}">Fair
										Trade Espresso</h5>
									<span class="product-price" th:text="${p.pprice}">₩20,000</span>
									<a href="#" class="btn btn-primary" type="button"
										data-bs-toggle="modal" th:data-bs-target="'#pmodal_'+${p.pid}"><i
										class="fas fa-shopping-bag"></i></a>
								</div>
								<div class="modal" th:id="'pmodal_'+${p.pid}">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<!-- Modal Header -->
											<div class="modal-header">
												<h4 class="modal-title">Product Information</h4>
												<button type="button" class="btn-close"
													data-bs-dismiss="modal"></button>
											</div>
											<!-- Modal body -->
											<div>
												<div class="modal-body">
													<div>
														<img th:src="'assets/img/espresso/'+${p.pimgname}"
															alt="Image Description" style="float: left">
													</div>
													<div style="vertical-align: bottom; text-align: left">
														<span th:text="${p.pname}" class="d-block"
															style="font-size: 2rem">coffee</span> <span
															class="d-block" style="font-size: 1.5rem">2022-20-22</span>
														<span th:text="${p.pcontents}" class="d-block" style="font-size: 0.9rem"></span>
													</div>
													<div class="prices">
														<div class="amount">
															<h3 style="vertical-align: bottom; text-align: right">
																<b th:text="'₩'+${p.pprice}">$2.99</b>
															</h3>
														</div>
													</div>
												</div>
												<!-- Modal footer -->
												<div class="modal-footer">
													<button type="button" class="btn btn-danger"
														data-bs-dismiss="modal">
														<i class="fas fa-shopping-bag"></i> Add
													</button>
													<button type="button" class="btn btn-danger"
														data-bs-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal footer -->
								<div class="modal-footer">
									<button type="button" class="btn btn-danger"
										data-bs-dismiss="modal">
										<i class="fas fa-shopping-bag"></i> Add
									</button>
									<button type="button" class="btn btn-danger"
										data-bs-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
