<meta charset="utf-8">
<script>/* $(documents).ready(function(){ }); */</script>
<section class="page-section">
	<div class="container">
		<form>
			<div class="mb-3">
				<label for="id" class="form-label">ID</label> <input type="text" class="form-control"
					id="id" name="id">
			</div>
			<div class="mb-3">
				<label for="pwd" class="form-label">Password</label>
				<input type="password" class="form-control"
					id="pwd" name="pwd">
			</div>
			<button type="submit" id="loginbtn" class="btn btn-primary">Submit</button>
		</form>
	</div>
</section>