<meta charset="utf-8">
<link href="/css/member.css" rel="stylesheet">

<style>
#iuid {
	color: white
}

#iemail {
	color: white
}

#iphone {
	color: white
}
</style>
<script>
	(function() {
		'use strict'
		const forms = document.querySelectorAll('.requires-validation')
		Array.from(forms).forEach(function(form) {
			form.addEventListener('submit', function(event) {
				if (!form.checkValidity()) {
					event.preventDefault()
					event.stopPropagation()
				}

				form.classList.add('was-validated')
			}, false)
		})
	})

	/* ajax 이용해서 사용가능한 아이디, 불가능한 아이디 띄우기 */
	$(document).ready(function() {
		$('#uid').keyup(function() {
			var inputuid = $(this).val();
			$.ajax({
				url : '/checkuid',
				data : {
					uid : inputuid
				},
				success : function(result) {
					if (result == '1') {
						$('#iuid').text('사용불가능한 아이디입니다');
						/*  alert("사용 불가능한 아이디입니다")  */
					} else {
						$('#iuid').text('사용가능한 아이디입니다.');
						/* alert("사용 가능한 아이디입니다.") */
					}
				}
			});
		});

		$('#register_bt').click(function() {

			$('#register_form').attr({
				'method' : 'post',
				'action' : '/registerimpl'
			});
			$('#register_form').submit();
		});

	});
</script>

<<section class="page-section">
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<div class="signup-form">
				<form action="" id="register_form" class="border p-4 bg-light shadow">
					<h4 class="mb-5 text-secondary">Create Your Account</h4>
					<div class="row">
						<div class="mb-3 col-md-6">
							<label>Full Name<span class="text-danger">*</span></label> <input
								type="text" id="name" name="name" required class="form-control"
								placeholder="Enter Full Name">
						</div>

						<div class="mb-3 col-md-6">
							<label>Email<span id="iemail" class="text-danger">*</span></label> <input
								type="email" class="form-control" id="email"
								placeholder="Enter email" required name="email">
						</div>

						<div class="mb-3 col-md-6">
							<label>ID<span 
							class="text-danger">*</span>
							<span id="iuid" class="text-dark" ></span></label> <input
								id="uid" name="uid" required
								type="text" class="form-control"
								placeholder="Enter ID">
						</div>

						<div class="mb-3 col-md-6">
							<label>Password<span class="text-danger">*</span></label> <input
								id="pwd" type="password" name="pwd" class="form-control"
								placeholder="Enter Password" required>
						</div>

						<div class="mb-3 col-md-12">
							<label>Address<span class="text-danger">*</span></label> <input
								type="text" name="addr" class="form-control"
								placeholder="Enter Address" required>
						</div>
						<div class="mb-3 col-md-12">
							<label>Phone<span id="iphone" class="text-danger">*</span></label> <input
								type="text" id="phone" name="phone" class="form-control"
								placeholder="Enter Phone #" required>
						</div>

						<div class="col-md-12">
							<button id="register_bt" type="submit" class="btn btn-primary float-end">Signup Now</button>
						</div>
						<p class="text-center mt-3 text-secondary">
							If you have account, Please <a href="login">Login Now</a>
						</p>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>
</section>