<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.AddrlistMapper">
	
	<select id="select" parameterType="int" resultType="addrlistVO">
		SELECT * FROM addrlist AID=#{aid}
	</select>
	<select id="selectall" resultType="addrlistVO">
		SELECT * FROM addrlist
	</select>
	
	<insert id="insert" parameterType="addrlistVO" useGeneratedKeys="true" keyProperty="aid">
			INSERT INTO addrlist VALUES (NULL,#{uid},#{addr},#{receivename})
	</insert>
	<update id="update" parameterType="addrlistVO">
		 	UPDATE addrlist SET uid=#{uid},addr=#{addr},receivename=#{receivename} WHERE AID=#{aid}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM addrlist WHERE AID=#{aid}
	</delete>
	<select id="selectpercust" parameterType="String" resultType="addrlistVO">
		SELECT * FROM addrlist a WHERE a.uid = #{uid}
		UNION
		SELECT 0 AS aid,u.uid AS uid,u.addr AS addr,u.name AS receivename FROM cust u WHERE u.uid = #{uid}; 
	</select>
	
</mapper>






