<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.BoardMapper">
	
	<select id="select" parameterType="int" resultType="boardVO">
		SELECT * FROM board WHERE BID=#{bid}
	</select>
	<select id="selectall" resultType="boardVO">
		SELECT * FROM board
	</select>
	
	<insert id="insert" parameterType="boardVO" useGeneratedKeys="true" keyProperty="bid">
			<if	test="bid != 0"> 
			INSERT INTO board VALUES (#{bid},#{pid},#{uid},#{title},#{contents})
		</if>
		<if	test="bid == 0"> 
			INSERT INTO board VALUES (null,#{pid},#{uid},#{title},#{contents})
		</if>
	</insert>
	<update id="update" parameterType="boardVO">
		 	UPDATE board SET pid=#{pid},uid=#{uid},title=#{title},contents=#{contents} WHERE BID=#{bid}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM board WHERE BID=#{bid}
	</delete>
	
</mapper>






