<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.CartMapper">
	
	<select id="select" parameterType="int" resultType="cartVO">
		SELECT * FROM cart WHERE CRID=#{crid}
	</select>
	<select id="selectall" resultType="cartVO">
		SELECT * FROM cart
	</select>
	<insert id="insert" parameterType="cartVO">
		INSERT INTO CART VALUES (#{crid},#{uid},#{pid},#{cnt})
	</insert>
	<update id="update" parameterType="cartVO">
		UPDATE CART SET CNT=#{cnt} WHERE CRID=#{crid}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM CART WHERE CRID=#{crid}
	</delete>
	
</mapper>






