<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.CateMapper">
	
	<select id="select" parameterType="int" resultType="cateVO">
		SELECT * FROM cate WHERE CID=#{cid}
	</select>
	<select id="selectall" resultType="cateVO">
		SELECT * FROM cate
	</select>
	
	<insert id="insert" parameterType="cateVO">
		<if	test="pid != 0"> 
			INSERT INTO cate VALUES (#{cid},#{name},#{parentid})
		</if>
		<if	test="pid == 0"> 
			INSERT INTO cate VALUES (#{cid},#{name},NULL)
		</if>
	</insert>
	<update id="update" parameterType="cateVO">
		<if	test="pid != 0"> 
		 	UPDATE cate SET NAME=#{name},PARENTID=#{parentid} WHERE CID=#{cid}
		</if>
		<if	test="pid == 0"> 
		 	UPDATE cate SET NAME=#{name} WHERE CID=#{cid}
		</if>
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM cate WHERE CID=#{cid}
	</delete>
	
</mapper>






